<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />

    <title>Wesettle</title>
    <style>
      * {
        padding: 10px;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 22px;
      }
      p {
        padding: 0 inherit !important;
      }
      .name {
        text-transform: capitalize;
      }
      .center {
        display: flex;
        justify-content: center;
      }
      a {
        text-decoration: none;
        color: black;
      }
      .link {
        padding: 10px 30px;

        border: none;
        outline: none;
        background: #26bfc1;
        border-radius: 4px;
        min-width: 150px;
        font-size: 20px;
        justify-content: center;
        cursor: pointer;
      }
      .cont {
        display: flex;
        flex-wrap: wrap;
      }
      .icon {
        font-size: 17px;
        cursor: pointer;
        margin-left: 15px;
      }
    </style>
  <link rel="icon" href="/public/assets/images/favicon.png" sizes="16x16" type="image/png">
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '325483672775047');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=325483672775047&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7JPFQ4C9HJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7JPFQ4C9HJ');
          </script> 
           
</head>
  <body></body>
</html>
