<%- include('common'); -%>

<p>Forgot your password ? That’s okay, Let us settle it for you.</p>
<div class="center">
  <a class="link" href="<%= options.link %>">Reset Your Password</a>
</div>
</body>
</html>