<%- include('common'); -%>

<p>You are almost ready to experience WeSettle and Find your Perfect home !</p>
<p>Verify it’s you and let’s get started!</p>
<div class="center">
  <a class="link" href="<%= options.link %>">Verify Email</a>
</div>
</body>
</html>