<%- include('common'); -%>

<p class="name">
  Hey <%=options.name%>, Thank you for signing up and choosing Wesettle.
</p>
<p>
  We welcome you to experience what convenience and Happy Community feels
  like.Let's make the journey memorable ! 
</p>
<p>Regards,</p>
<p>Team WeSettle .</p>
<div class="cont">
  <a class="icon" href="https://www.instagram.com/wesettle.co.in/?hl=en">
    <img src="/public/assets/instagram-brands.png" alt='instagram' width="30" height="30" />
  </a>
  <a class="icon" href="https://www.linkedin.cn/company/wesettle/">
       <img src="/public/assets/linkedin-brands.png" alt='linkedin' width="30" height="30" />

  </a>
  <a class="icon" href="https://www.facebook.com/teamwesettle/">
        <img src="/public/assets/facebook-brands.png" alt='facebook' width="30" height="30" />

  </a>
  <a class="icon" href="https://twitter.com/Wesettle_india">
        <img src="/public/assets/twitter-brands.png" alt='twitter' width="30" height="30" />

  </a>
  <a
    class="icon"
    href="https://www.youtube.com/channel/UCwvIU4VbeYue-CioNgSPL7g"
  >
       <img src="/public/assets/youtube-brands.png" alt='youtube' width="30" height="30" />

  </a>
</div>
</body>
</html>
